// *********** header Section
= render :partial => 'partials/header'

%div.home-background
  %div.row.m-0.pt-5.text-center
    %div.col-md-12
      %h1='About Parlour'

// *********** footer Section
= render :partial => 'partials/footer'
